@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-size: 16px;
  --logo-font: "DM Serif Display", serif;
  --main-font: "Poppins", sans-serif;
  --logo-color: #341100;
  --lightTxtClr: #908e9b;
  --lightTxtClr2: #fffff0;
  --main-color: #713105;
  --card-bg: #fff7e8;
  --section-bg: #cfab71;
  --largeFn1: 3rem;
  --largeFn2: 2rem;
  --mediumFn1: 1rem;
  --mediumFn2: 0.75rem;
  --smallFn1: 0.5rem;
  --smallFn2: 0.25rem; 
}

.about-section {
  position: relative;
  overflow: hidden;
  padding: 4rem 2rem;
  background-color: var(--section-bg); 
  color: var(--logo-color);
  display: flex;
  justify-content: center;
}

.about-section::before,
.about-section::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  z-index: 0;
  opacity: 1;
  background-color: var(--main-color);
}
.about-section::before {
  width: 400px;
  height: 400px;
  top: -100px;
  left: -100px;
}

.about-section::after {
  width: 500px;
  height: 500px;
  bottom: -120px;
  right: -150px;
}

.content-container {
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
  padding: 1rem;
  max-width: 50%;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.explore-btn {
  background-color: var(--lightTxtClr2);
  color: #341100;
  font-weight: 500;
  width: 12rem;
  height: 2.25rem;
  border: none;
  border-radius: 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.explore-btn:hover {
  cursor: pointer;
  color: var(--logo-color);
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .about-section::before {
    width: 200px;
    height: 200px;
    top: -60px;
    left: -60px;
  }

  .about-section::after {
    width: 250px;
    height: 250px;
    bottom: -60px;
    right: -60px;
  }

  .content-container {
    min-width: 100%;
  }
}